*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*NAVBAR*/
#top {
    height: 35px;
    width: 100%;
    background: #2c7ad6;
    padding:20PX;
    box-sizing: border-box;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
   position: relative;
   bottom:10px;
}
.logo{
    position: relative;
    top: 25px;
    /* background-color: antiquewhite; */
}
.navigation{
    display: flex;
    justify-content: flex-end;
    position: relative;
    bottom: 10px;
}
header{
    /* position: fixed; */
    width: 100%;
    padding: 20px;
}
#anchor{
    position: relative;
    font-size: 1.1em;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    margin-right: 40px;
    color: black;
    /* background-color: #2c7ad6; */
    padding: 10px 24px;
    text-align: center;
    border-radius: 5px;
    font-size: 20px;
    /* background-color: yellow;
    pointer-events: auto; Ensure pointer events are enabled */

    
}
#anchor:hover{
    background: #2c7ad6;
    
    color: white;
    transition: all ease 1s;
    /* border-radius: 3px; */
}
/*NAVBAR*/


/* a:hover{ */
    /* background-color: #2c7ad6; */
    /* height: 25px;
    width: 100px ; */
    /* padding: 10px 24px;
    text-align: center; */
    /* border-radius: 5px; */
/* } */

/* #d1{
    background-color:rgb(119, 255, 119, .6);
    height: 450px;
    width: 400px;
    position: absolute;
    top: 200px;
    left: 500px;
    border-radius: 10px;
} */
/* #d2{
    background-color:rgba(44, 122, 214, .6);
    height: 450px;
    width: 500px;
    position:absolute;
    top: 200px;
    left: 600px;
    border-radius: 10px;
   
} */
/* #d3{
    background-color: blueviolet;
    height: 60px;
    width: 200px;
    position: absolute;
    top: 350px;
    left: 90px;
} */
#d3{
    height:640px;
    width: 55%;
    /* background:rgba(0,0,0, .4); */
    float: left;
    font-size: 41PX;
    color: white;
    text-align: center;
    padding-top: 250px;
    box-sizing: border-box;
    position: relative;
    top: 30px;
    padding-right: 50px;
    padding-top: 130px;
    left: 350px;
    }
#table{
    background-color: rgb(119, 255, 119, .6);
    height: 650px;
    width: 1300px;
    position: absolute;
    top: 500px;
    left: 25px;
    border-radius: 10px;
}
table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 2px solid #ddd;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f0f0f0;
}
.t{
    height: 40px;
    width: 75%;
    border: 2px solid green;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
    
    }
#f1{
    padding-left: 90px;
}
#f2{
    padding-left: 90px;
}
#s1{
    padding-top: 40px;
    padding-bottom: 40px;
}
#s2{
    padding-top: 40px;
    padding-bottom: 40px;
}
#footer{
    height: 300px;
    width: 100%;
    margin-top: 10px;
    background:#2c7ad6; 
    text-align: center;
    padding-top: 50px;
    color: white;
    position: relative;
    top: 1px;
}
#footer2{
    background:black;
    position: relative;
    top: 40px;
}
#slider{
    height:1040px;
    width: 100%;
    background-image:url(image2.jpg);
    background-size: cover;
    background-attachment: fixed;
}